<ng-container *ngIf="bookItem$ | async as bookItem">
  <!-- Header  -->
  <div class="modal-header border-0">
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            title="Close"
            (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <img [src]="bookItem?.volumeInfo?.imageLinks?.thumbnail"
             class="card-img-top"
             alt="Image Thumbnail">

              <div class="text-center mt-3">
                <button type="button" class="btn btn-outline-primary btn-add-to-wishlist" [disabled]="bookItem.isWishlish"
                  (click)="addToWishlist(bookItem)">
                  <i class="fa fa-heart-o mx-2" aria-hidden="true"></i>
                  {{ bookItem.isWishlish ? 'Added To Wishlist' : 'Add To Wishlist' }}
                </button>
              </div>
      </div>
      <div class="col">
        <h4 class="mb-1">{{ bookItem.volumeInfo?.title }}</h4>
        <p class="mb-3">{{ bookItem.volumeInfo?.subtitle }}</p>
        <p class="mb-1"><b>Authors: </b>{{ bookItem.volumeInfo?.authors | json }}</p>
        <p class="mb-1"><b>Categories: </b>{{ bookItem.volumeInfo?.categories | json }}</p>
        <p class="mb-1"><b>Description: </b>{{ bookItem.volumeInfo?.description }}</p>

        <div class="row mt-3">
          <div class="col rating">
            <div class="text-muted">Rating</div>
            <i class="fa fa-star mx-1"></i>
            {{ bookItem?.volumeInfo?.averageRating }}
          </div>
          <div class="col pages">
            <div class="text-muted">Pages</div>
            <div>
              <i class="fa fa-book mx-1"></i>
              {{ bookItem?.volumeInfo?.pageCount }}
            </div>
          </div>
          <div class="col language">
            <div class="text-muted">Language</div>
            <i class="fa fa-language mx-1"></i>
            {{ bookItem?.volumeInfo?.language }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
