<div class="search-bar-container row mb-5">
  <div class="col">
    <input id="search-bar"
           name="search-bar"
           class="form-control"
           placeholder="Start typing..."
           autocomplete="off"
           [formControl]="searchBarControl">

    <i class="fa fa-search" aria-hidden="true"></i>
    <i *ngIf="isLoading$ | async"
       class="fa fa-circle-o-notch fa-spin"
       aria-hidden="true">
    </i>
  </div>
</div>

<app-results-container></app-results-container>
